<div class="left-sidebar">
  <div class="row-fluid">
    <div class="span12">
      <div class="widget">
        <div class="widget-header">
          <div class="title">
            To Do Lis<a id="todo">t</a>
          </div>
                    <span class="tools">
                      <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
                    </span>
        </div>
        <div class="widget-body">
          <div class="todo-container">
            <ul class="todo-list" id='todolist'>
              <li class="new">
                <input type="checkbox" id="1"/>

                <label for="1">
                  Send flowers to Sandy
                            <span class="date">
                              Due Feb 14
                            </span>
                </label>
              </li>
              <li class="completed">
                <input type="checkbox" id="4"/>

                <label for="4">
                  Buy new iPad
                            <span class="date">
                              Due Feb 7
                            </span>
                </label>
              </li>
              <li class="process">
                <input type="checkbox" id="5" checked/>

                <label for="5">
                  Pay credit card bill
                            <span class="date">
                              Completed Jan 29
                            </span>
                </label>
              </li>
              <li class="new">
                <input type="checkbox" id="6"/>

                <label for="6">
                  Take a photograph
                            <span class="date">
                              Due Jan 30
                            </span>

                </label>
              </li>
              <li class="completed">
                <input type="checkbox" id="7"/>

                <label for="3">
                  Be creative
                            <span class="date">
                              Due Jan 22
                            </span>
                </label>
              </li>
              <li class="process">
                <input type="checkbox" id="8">

                <label for="2">
                  Have tea with the Queen
                            <span class="date">
                              Completed Jan 18
                            </span>
                </label>
              </li>
              <% @tasks.each do |task|  %>
                  <li>
                    <input type="checkbox">

                    <label for="2">
                      <%= task.title %>
                            <span class="date">
                              Completed <%= task.due_date %>
                            </span>
                    </label>
                  </li>
              <% end %>
            </ul>
            <form class="no-margin">
              <div class="input-append">
                <input id="add-new-task" class="input-block-level" type="text" placeholder="Add new task">
                          <span class="btn btn-info" id='add-task-btn'>
                            <strong>
                              +
                            </strong>
                          </span>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  $('#add-task-btn').addTask()
</script>