<footer>
  <p>
    &copy; Diabetics Like Me 2013
  </p>
</footer>
<script type="text/javascript" src="/js/date-picker/date.js">
</script>
<script type="text/javascript" src="/js/date-picker/daterangepicker.js">
</script>


