<header>
  <a href="/" class="logo">
    <!--<img src="img/logo.png" alt="Logo"/>-->
    <span style="font-size: 18px; color: #fff">Diabetics Like Me</span>
  </a>
  <% if signed_in? %>
      <%= render :partial => 'shared/logged_in' %>
  <% else %>
      <%= render :partial => 'shared/logged_out' %>
  <% end %>
</header>