<div class="row-fluid">
<div class="span12">
<div class="widget">
<div class="widget-header">
  <div class="title">
    Mailbox
    <span class="mini-title"><a id="mailbox">Inspired by gmail</a></span>
  </div>
  <div class="tools pull-right">
    <div class="btn-group">
      <a class="btn btn-small">
        <i class="icon-share-alt" data-original-title="Share">
        </i>
      </a>
      <a class="btn btn-small">
        <i class="icon-exclamation-sign" data-original-title="Report">
        </i>
      </a>
      <a class="btn btn-small">
        <i class="icon-trash" data-original-title="Delete">
        </i>
      </a>
    </div>
    <div class="btn-group">
      <a class="btn btn-small">
        <i class="icon-folder-close" data-original-title="Move to">
        </i>
      </a>
      <a class="btn btn-small">
        <i class="icon-tag" data-original-title="Tag">
        </i>
      </a>
    </div>
    <div class="btn-group">
      <a class="btn btn-small">
        <i class="icon-chevron-left" data-original-title="Prev">
        </i>
      </a>
      <a class="btn btn-small btn-info">
        <i class="icon-chevron-right icon-white" data-original-title="Next">
        </i>
      </a>
    </div>
  </div>
</div>
<div class="widget-body">
  <div class="mail">
    <table class="table table-condensed table-striped table-hover no-margin">
      <thead>
      <tr>
        <th style="width:3%">
          <input type="checkbox" class="no-margin">
        </th>
        <th style="width:17%">
          Sent by
        </th>
        <th style="width:55%" class="hidden-phone">
          Subject
        </th>
        <th style="width:12%" class="right-align-text hidden-phone">
          Labels
        </th>
        <th style="width:12%" class="right-align-text hidden-phone">
          Date
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Mahendra Dhoni
        </td>
        <td class="hidden-phone">
          <strong>
            Compass, Sass
          </strong>
          <small class="info-fade">
            Methodologies eyeball
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                Read
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          Valentine
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Michel Clar
        </td>
        <td class="hidden-phone">
          <strong>
            Senior Developer
          </strong>
          <small class="info-fade">
            Platforms web-enabled cultivat
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label label-success">
                                New
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          Valentine
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Rahul Dravid
        </td>
        <td class="hidden-phone">
          <strong>
            Bitbucket
          </strong>

          <small class="info-fade">
            Technologies content deploy ROI
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label">
                                Imp
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          Yesterday
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Anthony Michell
        </td>
        <td class="hidden-phone">
          <strong>
            Verify your email
          </strong>

          <small class="info-fade">
            Less schemas seamless band
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                Read
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          15-02-2013
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Srinu Baswa
        </td>
        <td class="hidden-phone">
          <strong>
            Statement for December 2012
          </strong>
          <small class="info-fade">
            Models seize
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label label-success">
                                New
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          10-02-2013
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Crazy Singh
        </td>
        <td class="hidden-phone">
          <strong>
            You're In!
          </strong>
          <small class="info-fade">
            Tagclouds endwidth; morph; distr
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label">
                                Imp
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          21-01-2013
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="no-margin">
        </td>
        <td>
          Sri Ram Raju
        </td>
        <td class="hidden-phone">
          <strong>
            Support
          </strong>
          <small class="info-fade">
            Distributed incentivize enabl
          </small>
        </td>
        <td class="right-align-text hidden-phone">
                              <span class="label label label-info">
                                New
                              </span>
        </td>
        <td class="right-align-text hidden-phone">
          19-01-2013
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


</div>
</div>


<script src="/js/wysiwyg/wysihtml5-0.3.0.js">
</script>
<script src="/js/jquery.min.js">
</script>
<script src="/js/bootstrap.js">
</script>
<script src="/js/wysiwyg/bootstrap-wysihtml5.js">
</script>
<script src="/js/jquery.scrollUp.js">
</script>




<!-- Google Visualization JS -->
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>